name: CMake

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build-unix:
    strategy:
      matrix:
        os: [ubuntu-latest]
        preset: [default, release]

    runs-on: ${{ matrix.os }}

    steps:
    - name: List Xcode installations
      if: matrix.os == 'macos-14'
      run: sudo ls -1 /Applications | grep "Xcode"

    - name: Select Xcode 16.2
      if: matrix.os == 'macos-14'
      run: sudo xcode-select -s /Applications/Xcode_16.2.0.app/Contents/Developer

    - name: Install JUCE dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
          sudo apt update
          sudo apt install libasound2-dev libjack-jackd2-dev \
               ladspa-sdk \
               libcurl4-openssl-dev  \
               libfreetype-dev libfontconfig1-dev \
               libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev \
               libwebkit2gtk-4.1-dev \
               libglu1-mesa-dev mesa-common-dev

    - name: Install ninja-build tool
      uses: seanmiddleditch/gha-setup-ninja@v5

    - name: Cache ninja-build
      uses: actions/cache@v4
      with:
        key: ${{ runner.os }}-ninja-build
        path: |
          ${GITHUB_WORKSPACE}/ninja-build

    - uses: actions/checkout@v4
      with:
        lfs: true

    - name: Cache dependencies
      id: cache-libs
      uses: actions/cache@v4
      with:
        path: libs
        key: ${{ runner.os }}-libs-${{ hashFiles('CMakeLists.txt') }}-${{ hashFiles('test/CMakeLists.txt') }}

    - name: Configure CMake
      run: cmake --preset ${{ matrix.preset }}

    - name: Build
      run: cmake --build --preset ${{ matrix.preset }}

    - name: Test
      run: ctest --preset ${{ matrix.preset }}

  build-windows:
    strategy:
      matrix:
        config: [Debug, Release]

    runs-on: windows-latest

    steps:
    - uses: ilammy/msvc-dev-cmd@v1 # use MSVC on Windows not minGW

    - uses: actions/checkout@v4
      with:
        lfs: true

    - name: Cache dependencies
      id: cache-libs
      uses: actions/cache@v4
      with:
        path: libs
        key: ${{ runner.os }}-libs-${{ hashFiles('CMakeLists.txt') }}-${{ hashFiles('test/CMakeLists.txt') }}

    - name: Configure CMake
      run: cmake --preset vs

    - name: Build
      run: cmake --build --preset vs --config ${{ matrix.config }}

    - name: Test
      run: ctest --preset vs -C ${{ matrix.config }}

